{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 9
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "**/__tests__",
    "**/__fixtures__",
    "**/__api__",
    "**/__components__",
    "**/__mocks__"
  ]
}
